<!doctype html>
<html lang="en">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <!-- TITULO DE PAGINA-->
	<title>Links</title>
</head>
  
<div class="row no-gutters d-flex align-items-center align-items-stretch">
<div class="col-md-3 d-flex align-items-center py-4">
{% load static %}
		<img src="{% static "img/logomb.png" %}" width="200" height="75">
</div>
<body>

<div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
		<!-- TITULO -->
		<h1>Links<span class="label label-warning">Actualiza tu PC</span></h1>
</div>
<!-- BARRA -->
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
</button>
      <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Links</a></li>
        <li><a href="{% url 'drivers' %}">Drivers</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'inicio' %}"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
      </ul>
</div>
</div>
</nav>
    <head>
        <title>Resultados</title>
    </head>
    <body>
	<h1>Descarga lo que necesitas con tan solo un <span class="label label-danger">CLICK!</span></h1>
	<div align="center">
		<img src="{% static "img/amdlink.jxr" %}" width="1580" height="640">
</div>
       <div align="center">
	   <h2> Se encontraron los siguientes productos para su descarga: </h2>
	   </div>
	   
		<div align="center">
		<br/><a href="https://www.amd.com/en/support/graphics/amd-radeon-2nd-generation-vega/amd-radeon-2nd-generation-vega/amd-radeon-vii">AMD RADEON 2nd Generacion Vega</a><br/>
<div align="center">
		<img src="{% static "img/amd.vega.jpg" %}" width="500" height="240">
</div>
		<br/><a href="https://www.amd.com/en/support/graphics/amd-radeon-5700-series/amd-radeon-rx-5700-series">AMD RADEON 5700 Series</a><br/>
<div align="center">
		<img src="{% static "img/amd5700.jpg" %}" width="500" height="240">
</div>
		<br/><a href="https://www.amd.com/en/support/graphics/radeon-rx-vega-series/radeon-rx-vega-series/radeon-rx-vega-64">AMD RADEON RX Vega Series</a><br/>
<div align="center">
		<img src="{% static "img/amdvega.png" %}" width="500" height="240">
</div>
		<br/><a href="https://www.amd.com/en/support/graphics/radeon-600-series/radeon-600-series/radeon-rx-640">AMD RADEON 640 Series</a><br/>
<div align="center">
		<img src="{% static "img/amd640.jpg" %}" width="500" height="240">
</div>
		<br/><a href="https://www.amd.com/en/support/graphics/radeon-500-series/radeon-500-series/radeon-520">AMD RADEON 520 Series</a><br/>
<div align="center">
	<img src="{% static "img/amd520.jpg" %}" width="500" height="240">
</div>
		<br/><a href="https://www.amd.com/en/support/graphics/radeon-400-series/radeon-rx-400-series/radeon-rx-480">AMD RADEON 480 Series</a><br/>
<div align="center">
	<img src="{% static "img/amd480.jpg" %}" width="500" height="240">
</div>
		<br/><a href="https://www.amd.com/en/support/graphics/amd-radeon-r9-series/amd-radeon-r9-fury-series/amd-radeon-r9-nano">AMD RADEON R9 Series</a><br/>
		<br/><a href="https://www.amd.com/en/support/graphics/amd-radeon-r7-series/amd-radeon-r7-300-series/amd-radeon-r7-360">AMD RADEON R7 Series</a><br/>
<div align="center">
	<img src="{% static "img/amdr9r7.jpg" %}" width="500" height="240">
</div>
		<br/><a href="https://www.amd.com/en/support/graphics/amd-radeon-r5-series/amd-radeon-r5-400-series/amd-radeon-r5-m430">AMD RADEON R5 Series</a><br/>
<div align="center">
<img src="{% static "img/amdr5.png" %}" width="400" height="240">
</div>
</div>
        

	
 
		

<footer>
  <p align="center">Posted by: Empresa MB</p>
  <p align="center">Contact information: <a href="empresamb@gmail.com">
  empresamb@gmail.com</a>.</p>
</footer>
    </body>
</html>